Hello from Calendlex!

Teams.create_team(%{name: "India", country: "India", rank: 1, dress_color: "Blue"})
Teams.create_player(%{first_name: "Virat", last_name: "Kohli", age: 34, country: "India", bio: "He is a good player", team_id: 1, type: 1})
